<mat-card>
  <mat-card-content>
    <div fxLayout="row" fxLayoutGap="10px">
      <div
        fxLayout="column"
        fxLayoutAlign="center center"
        class="date-container"
        matTooltip="{{ date | date : 'fullDate' }}"
      >
        <div class="day">
          {{ date | date : "dd" }}
        </div>
        <div>
          {{ date | date : "EE" }}
        </div>
      </div>
      <div fxFlex>
        <div
          fxLayout="column"
          fxLayoutGap="5px"
          class="mat-mdc-chip-set-stacked"
        >
          @for (concept of concepts; track concept._id) {
          <button mat-stroked-button (click)="onSelectionChange(date, concept)">
            @if(isReserved(date, concept)) {
            <mat-icon color="primary">check</mat-icon>
            }
            {{ renderConcept(date, concept) }}
          </button>
          }
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
