<mat-card>
  <mat-card-content>
    <div fxLayout="row" fxLayoutGap="10px">
      <div
        fxLayout="column"
        fxLayoutAlign="center center"
        class="date-container"
        matTooltip="{{ date | date : 'fullDate' }}"
      >
        <div class="day">
          {{ date | date : "dd" }}
        </div>
        <div>
          {{ date | date : "EE" }}
        </div>
      </div>
      <div fxFlex>
        <div
          fxLayout="column"
          fxLayoutGap="5px"
          class="mat-mdc-chip-set-stacked"
        >
          @for (concept of concepts; track concept._id) {
          <mat-chip-option
            [selected]="false"
            [value]="concept"
            (selectionChange)="onSelectionChange($event, date)"
          >
            <span>Select {{ concept.name | lowercase }}</span>
          </mat-chip-option>
          }
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
