.date-container {
  text-align: center;
  color: rgb(50, 60, 60);
}

.day {
  font-size: 28px;
  font-weight: 500;
}

mat-card {
  margin-bottom: 10px;
}

button {
  width: 100%;
  align-items: left;
  justify-content: left;
  font-weight: 400 !important;
}
