<mat-card>
  <mat-card-content>
    <div fxLayout="row" fxLayoutGap="10px">
      <div
        fxLayout="column"
        fxLayoutAlign="center center"
        class="date-container"
        matTooltip="{{ date | date : 'fullDate' }}"
      >
        <div class="day">
          {{ date | date : "dd" }}
        </div>
        <div>
          {{ date | date : "EE" }}
        </div>
      </div>
      <div fxFlex>
        <div
          fxLayout="column"
          fxLayoutGap="5px"
          class="mat-mdc-chip-set-stacked"
        >
          @for (concept of concepts; track concept.id) {
            @if(isReserved(date, concept) | async; as reservation) {
              <button mat-stroked-button
                (click)="onRemoveReservation(reservation.id)"
                [class.reserved] = "reservation"
                >
                <mat-icon color="primary">check</mat-icon>
                <span>
                  {{reservation.slot}}
                </span>
              </button>
            }
            @else {
              <button mat-stroked-button (click)="selectConcept(date, concept)">
                Select {{concept.code.toLowerCase()}}
              </button>
            }
          }
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
