<div class="container">
  <mat-tab-group [selectedIndex]="activeTab">
    <mat-tab>
      <div class="tab-container">
        <mat-card-header>
          <mat-card-title>Select the dates</mat-card-title>
          <!-- <mat-card-subtitle
            >Select a work station for the date
            {{ date | date : "mediumDate" }}</mat-card-subtitle
          > -->
          <div class="card-header-actions">
            <button
              mat-icon-button
              aria-label="Go back"
              color="accent"
              matTooltip="Go back"
              (click)="goHome()"
            >
              <mat-icon>arrow_back</mat-icon>
            </button>
          </div>
        </mat-card-header>

        <!-- <br> -->
        @for (date of dateRange; track date) {
        <app-date-item
          [date]="date"
          [concepts]="concepts"
          (selectedConcept)="onSelectedConcept($event)"
          (removeReservation)="onRemoveReservation($event)"
        ></app-date-item>
        }
      </div>
    </mat-tab>
    <mat-tab>
      <div class="tab-container">
        @if (selectedConcept) {
        <app-slot-list
          [date]="selectedConcept.date"
          [concept]="selectedConcept.concept"
          (slotSelected)="onSlotSelected($event)"
        ></app-slot-list>
        }
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
