<mat-card>
  <mat-card-header>
    <mat-card-title>Concepts</mat-card-title>
    <mat-card-subtitle>Select the concepts you want to schedule</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-selection-list #conceptsSelector>
      @for (concept of concepts; track concept._id) {
      <mat-list-option [value]="concept._id">{{
        concept.name
      }}</mat-list-option>
      }
    </mat-selection-list>
  </mat-card-content>
  <mat-card-actions align="end">
    <button
      mat-flat-button
      (click)="onSchedule()"
      [disabled]="conceptsSelector.selectedOptions.isEmpty()"
      color="primary"
      matTooltip="Schedule the selected concepts"
    >
     Schedule
    </button>
  </mat-card-actions>
</mat-card>
