<mat-card>
  <mat-card-header *transloco="let t; read: 'concept'">
    <mat-card-title>{{ t("pluralLabel") }}</mat-card-title>
    <mat-card-subtitle>{{ t("selection.subtitle") }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-selection-list #conceptsSelector>
      @for (concept of concepts; track concept._id) {
      <mat-list-option [value]="concept._id">{{
        concept.name
      }}</mat-list-option>
      }
    </mat-selection-list>
  </mat-card-content>
  <mat-card-actions align="end">
    <button
      mat-flat-button
      *transloco="let t; read: 'schedule'"
      (click)="onSchedule()"
      [disabled]="conceptsSelector.selectedOptions.isEmpty()"
      color="primary"
      [matTooltip]="t('tooltip')"
    >
      {{ t("label") }}
    </button>
  </mat-card-actions>
</mat-card>
