.container {
  background-color: #00b097;
  height: 100%;
  padding: 5px;
  overflow-y: scroll;

  .title {
    color: #ffffff;
    font-size: 18px;
  }

  img {
    max-width: 280px;
    margin: 10px 5px 40px 5px;
  }
}

mat-card {
  min-width: 330px;
  margin: 0 auto;

  button {
    width: 100%;
  }
}

mat-form-field {
  display: block;
}
