<mat-card>
  <mat-card-header>
    <mat-card-title>Work station</mat-card-title>
    <mat-card-subtitle
      >Select a work station for the date
      {{ date | date : "mediumDate" }}</mat-card-subtitle
    >
    <div class="card-header-actions">
      <button mat-icon-button aria-label="Go back" color="accent" matTooltip="Go back" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content fxLayout="row wrap">
    @for (slot of concept.slots; track slot.code) {
    <div class="item" fxFlex="20" fxFlex.xs="25">
      <app-slot
        [slot]="slot"
        [reserved]="!!(reservationFacade.isSlotReserved(date, concept, slot) | async)"
        (slotSelected)="onSlotSelected($event)"
      ></app-slot>
    </div>
    }
  </mat-card-content>
</mat-card>
