@use "@angular/material" as mat;

.slot-card {
  border-radius: 5px;
  border-top: 3px solid #00b096;
  padding: 15px 10px;
  cursor: pointer;
  @include mat.elevation-transition();
  @include mat.elevation(1);
  span {
    color: rgb(50, 60, 60);
    font-size: 18px;
    font-weight: 500;
  }

  &:hover {
    @include mat.elevation(5);
  }
}

.slot-card[disabled] {
  cursor: default;
  border-top: 3px solid #45bfa8;
  background-color: #efefef;
  span {
    color: gray;
  }

  &:hover {
    @include mat.elevation(1);
  }
}
